In [6]:
# Imports
import numpy as np
import pandas as pd

In [7]:
# Read in US Foreign Aid dataset
hdi = pd.read_csv('Data/HumanDevelopmentIndex.csv', header=[1])

In [9]:
hdi.head()

,HDI Rank (2017),Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2013,Unnamed: 49,2014,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57
0,168.0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.487,NaN,0.491,NaN,0.493,NaN,0.494,NaN,0.498,NaN
1,68.0,Albania,0.645,NaN,0.626,NaN,0.610,NaN,0.613,NaN,...,0.771,NaN,0.773,NaN,0.776,NaN,0.782,NaN,0.785,NaN
2,85.0,Algeria,0.577,NaN,0.581,NaN,0.587,NaN,0.591,NaN,...,0.745,NaN,0.747,NaN,0.749,NaN,0.753,NaN,0.754,NaN
3,35.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.850,NaN,0.853,NaN,0.854,NaN,0.856,NaN,0.858,NaN
4,147.0,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.554,NaN,0.564,NaN,0.572,NaN,0.577,NaN,0.581,NaN

In [12]:
# Need to remove all columns with 'Unnamed: _' in the title
hdi = hdi.loc[:, ~hdi.columns.str.contains('^Unnamed')]

In [13]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 30 columns):
HDI Rank (2017)    189 non-null float64
Country            189 non-null object
1990               142 non-null float64
1991               143 non-null float64
1992               140 non-null float64
1993               143 non-null float64
1994               143 non-null float64
1995               147 non-null float64
1996               147 non-null float64
1997               147 non-null float64
1998               147 non-null float64
1999               150 non-null float64
2000               172 non-null float64
2001               172 non-null float64
2002               174 non-null float64
2003               176 non-null float64
2004               179 non-null float64
2005               186 non-null float64
2006               186 non-null float64
2007               186 non-null float64
2008               186 non-null float64
2009               186 non-null float64
2010               188 non-null float64
2011               188 non-null float64
2012               188 non-null float64
2013               188 non-null float64
2014               188 non-null float64
2015               188 non-null float64
2016               188 non-null float64
2017               189 non-null float64
dtypes: float64(29), object(1)
memory usage: 44.6+ KB

In [ ]:
# Next, convert from HDI values, to change in HDI from previous year